<a href="https://colab.research.google.com/github/Easypuma/AI/blob/main/Assignment%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
# Method 1

string =input("plz Enter a string ")
count = 0
for i in string:
  count+=1
print("the length os string = " , count)

plz Enter a string Omar
the length os string =  4

In [ ]:
# Method 2
word = input("plz enter a string ")
length = len(word)
print("length os string = " , length)

plz enter a string omar Allam
length os string =  10

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
string = input("enter A string ")
new_string = string[0:2] + string[-2:]
if len(string) < 2:
  print("empty string")
else:
  print(new_string)

enter A string Omarallam
Omam

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
string= input("enter a string ")
if len(string) < 3:
  print(string)
elif string[-3:] == 'ing':
  new_string = string + 'ly'
  print(new_string)
else:
  new_string = string + 'ing'
  print(new_string)

enter a string do
do

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
list1 = ["Omar" , "Mohamed" , "Ahmed" , "Moaz" , "ALi"]
counter = 0
word = ""
for i in list1:
  if len(i) > counter:
    counter = len(i)
    word = i

print("the longest word is " , word)
print("the length of the longest word is " , counter)

the longest word is  Mohamed
the length of the longest word is  7

5- Write a python program to change a given string to a newly string where the first and last char have been exchanged using 2 ways

In [ ]:
# Method 1
string = input("enter a string ")
new_string = string[-1] + string[1:-1] + string[0]
print(new_string)

enter a string omar
rmao

In [ ]:
# Method 2

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [5]:
string =input("enter a string ")
new_string = ""
for i in range(len(string)):
  if i % 2 == 0:
    new_string += string[i]
print( "the string is " ,new_string)

enter a string omar
the string is  oa

**7. You have a list of your favourite marvel super heros.
```
heros=['spider man','thor','hulk','iron man','captain america']
```

Using this find out,

    1. Length of the list
    2. Add 'black panther' at the end of this list
    3. You realize that you need to add 'black panther' after 'hulk',
       so remove it from the list first and then add it after 'hulk'
    4. Now you don't like thor and hulk because they get angry easily :)
       So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
       Do that with one line of code.
    5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [13]:
#1
heros=['spider man','thor','hulk','iron man','captain america']
print("length of the list is " , len(heros))

#2
heros.append('black panther')
print("the new list is " , heros)

#3
heros.remove('black panther')
heros.insert(3,'black panther')
print(heros)

#4
heros[1:3] = ['doctor strange']
print(heros)

#5
print(dir(heros))
heros.sort()
print(heros)

length of the list is  5
the new list is  ['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [14]:
string = input("enter a string ")
print("the string in upper case is " , string.upper())
print("the string in lower case is " , string.lower())

enter a string OMar
the string in upper case is  OMAR
the string in lower case is  omar

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [17]:
string = input("enter a string ")
if len(string) % 4 == 0:
  print("Reversed string is ", string[::-1])
else:
  print(string)

enter a string Omar
Reversed string is  ramO

**10- Write a Python program to remove a newline in Python

In [21]:
string = input("enter a string ")
print(string.replace('\n',''))

enter a string Omar
Omar

**11- Write a Python program to add prefix text to all of the lines in a string

In [22]:
string = input("enter a string ")
prefix = input("enter a prefix ")
new_string = prefix + string
print(new_string)

enter a string Omar
enter a prefix Allam
AllamOmar

**12-Write a Python program to print the following numbers up to 2 decimal places

ex:
Original Number:  3.1415926                                                                                   
Formatted Number: 3.14                                                                                        
Original Number:  12.9999                                                                                     
Formatted Number: 13.00

In [25]:
# method 1
number = eval(input("enter a number "))
print("the original number is " , number)
print("the formatted number is " , round(number,2))

# Method 2
number = eval(input("enter a number "))
print("the original number is " , number)
print( "The formatted number is " ,f"{number:.2f}")

enter a number 3.1415926
the original number is  3.1415926
the formatted number is  3.14
enter a number 12.99999
the original number is  12.99999
The formatted number is  13.00

**13-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [30]:
number = eval(input("enter a number "))
while number == 0:
  number = eval(input("enter a number "))
print("the original number is " , number)
print( "The formatted number is " ,f"{number:+.2f}")

enter a number 0
enter a number 0
enter a number 0
enter a number -12.98
the original number is  -12.98
The formatted number is  -12.98

**14-Write a Python program to display a number with a comma separator

In [41]:
number = eval(input("enter a number "))
print("the original number is " , number)
print( "The formatted number is " , f"{number:,}")

enter a number 123456
the original number is  123456
The formatted number is  123,456

**15-Write a Python program to reverse a string using 2 ways

In [48]:
# Method 1
string= input("enter a string ")
new_string = string[::-1]
print("reversed string is ", new_string)

# Method 2
string= input("enter a string ")
new_string = ""
for i in (string):
  new_string =  i + new_string
print("reversed string is ", new_string)

enter a string Omar
reversed string is  ramO
enter a string Allam
reversed string is  mallA

**16-Write a Python program to remove spaces from a given string

In [52]:
string = input("enter a string ")
new_string = string.replace(' ','')
print("new string is " , new_string)

enter a string Omar Allam
new string is  OmarAllam

**17-write a Python program to swap first and last element of any list.

In [54]:
list1 = ["Omar", "Hassan", "Allam"]
list1[0],list1[-1] = list1[-1],list1[0]
print("the swapped list is " , list1)

the swapped list is  ['Allam', 'Hassan', 'Omar']

**18-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [ ]:
list1 = [23, 65, 19, 90]

**19- search for the all ways to know the length of the list

In [58]:
#1
list1 = ["Omar", "Hassan", "Allam"]
print("the length of the list is " , len(list1))

#2
list1 = ["Omar", "Hassan", "Allam"]
count = 0
for i in list1:
  count+=1
print("the length of the list is " , count)

#3
list1 = ["Omar", "Hassan", "Allam"]
length = 0
while length < 3:
  length+=1
print("the length of the list is " , length)

the length of the list is  3
the length of the list is  3
the length of the list is  3

**20-write a Python code to find the Maximum number of list of numbers.

In [69]:
# method 1
list1=[1,2,3.5,3.7,8.2,8.3,9.99,10]
max=0
for i in list1:
  if i > max:
    max = i
print("the maximum number is " , max)

the maximum number is  10

**21-write a Python code to find the Minimum number of list of numbers.

In [70]:
list1=[1,2,3.5,3.7,8.2,8.3,9.99,10]
min_number=list1[0]
for i in list1:
  if i < min_number:
    min_number = i
print("the minimum number is " , min_number)

the minimum number is  1

**22-search for if an elem is existing in list

In [3]:
my_list = [10,22,50,88,92,100,40]
number = int(input("enter a number "))
for num in my_list:
  if num == number:
    print("yes found")
    break
else:
  print("not found")

enter a number 40
yes found

23- clear python list using differnt ways

In [6]:
# 1 using clear()
my_list = [1,2,3,4,5,6,7,8,9,10]
my_list.clear()
print(my_list)

# 2 Reassign
my_list = [1,2,3,4,5,6,7,8,9,10]
my_list = []
print(my_list)

# 3 using pop()
my_list = [1,2,3,4,5,6,7,8,9,10]
while len(my_list) > 0:
  my_list.pop()
print(my_list)

#4 using del
my_list = [1,2,3,4,5,6,7,8,9,10]
del my_list[:]
print(my_list)

#5
my_list = [1,2,3,4,5,6,7,8,9,10]
my_list = None
print(my_list)

#6 multiple the list by zero
my_list = [1,2,3,4,5,6,7,8,9,10]
my_list *= 0
print(my_list)

[]
[]
[]
[]
None
[]

**24-remove duplicated elements from a list

In [11]:
my_list = [10,20,10,20,30,30,40,50,40,10]
new_list = []
for num in my_list:
  if num not in new_list:
    new_list.append(num)
print(new_list)

[10, 20, 30, 40, 50]

**25-write a python program to count unique values inside a list using different ways

In [15]:
my_list = [10,20,10,20,30,30,40,50,40,10]
unique_list = []
for num in my_list:
  if num not in unique_list:
    unique_list.append(num)
print(unique_list)
print("the count of unique values inside a list is ",len(unique_list))

[10, 20, 30, 40, 50]
the count of unique values inside a list is  5

**26-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [ ]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
k = 3

**27-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output:  5)

**28-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

**29-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

**30-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

**31- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [16]:
numbers = [1, 3, 2, 5, 4, 6]
sum = 7
pairs = []
for i in range(len(numbers)):
  for j in range(i+1,len(numbers)):
    if numbers[i] + numbers[j] == sum:
      pairs.append((numbers[i],numbers[j]))
print(pairs)

[(1, 6), (3, 4), (2, 5)]

**32- I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.

In [17]:
wrong_string = 'maine 200 banana khaye'
new_string = wrong_string.replace('200','10').replace('banana','samosa')
print("the correcr statment is  ",new_string)

the correcr statment is   maine 10 samosa khaye

**33.  You have a list of your favourite marvel super heros.
```
heros=['spider man','thor','hulk','iron man','captain america']
```

Using this find out,

    1. Length of the list
    2. Add 'black panther' at the end of this list
    3. You realize that you need to add 'black panther' after 'hulk',
       so remove it from the list first and then add it after 'hulk'
    4. Now you don't like thor and hulk because they get angry easily :)
       So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
       Do that with one line of code.
    5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [ ]:
#1
heros=['spider man','thor','hulk','iron man','captain america']
print("length of the list is " , len(heros))

#2
heros.append('black panther')
print("the new list is " , heros)

#3
heros.remove('black panther')
heros.insert(3,'black panther')
print(heros)

#4
heros[1:3] = ['doctor strange']
print(heros)

#5
print(dir(heros))
heros.sort()
print(heros)